/* mattfeeney.us CSS STYLESHEET */


/**************************************************************************/
/* Globals */
/**************************************************************************/

/*********************************
	Variables
*********************************/
:root {
	/*--main_color: rgba(255, 145, 99, 1);*/
	--main_color: rgba(255, 133, 83, 1);
	--opacity_main_color: rgba(239, 139, 94, .45);
	--secondary_main_color: rgba(255, 144, 98, 1);
	/*--secondary_main_color: rgba(255, 133, 83, 1);*/
	--menu_bg_color: rgba(76, 76, 76, 1);
	--light_gray: rgba(134, 134, 134, 1);
}

/******************************************************************/

html {
/*	background: #f8f8f8;*/
}

body {
	background: rgba(255, 255, 255, 1);
	max-width: 1450px;
	min-width: 310px;
	margin: 0px auto;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	/*border: solid white 2px;*/
	position: relative;
	padding: 0;
	
}

.whole_container {
	/*border: solid black 5px;*/
	padding: 0px;
}

main section {
	padding: 20px;
	/*border: solid red 4px;*/
}

h1 {
	 color: #fff;
	 font-size: 2.5em;
	 text-align: left;
	 font-weight: 700;
	 letter-spacing: .035em;
	 margin: 0;
}

h2	{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75em;
	font-weight: 400;
	letter-spacing: .035em;
	/*color: #444;*/
	margin-bottom: 50px;
	margin-top: 50px;
}

.btn {
	color: white;
	font-family: "DM Sans", sans-serif;
	background: black;
	font-size: 1rem;
	padding: 15px 40px;
	border: solid white 1px;
	border-radius: 25px;
	transition: .4s;
}

.btn:hover {
	color: white;
	background: var(--main_color);
	/*border: solid var(--main_color) 2px;*/
	cursor: pointer;
}

img {
	max-width: 100%;
}

a, nav li, button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

textarea, input {
	font-family: 'DM Sans', sans-serif;
}


@media screen and (min-width: 900px) {
	main section {
		padding: 20px 100px;
		/*border: solid blue 4px;*/
	}
}

@media screen and (min-width: 1100px) {
	body {
		font-size: 18px;
	}
}

/*********************************
  Header Bar
*********************************/

header {
	background: var(--secondary_main_color);
	/*position: relative;*/
	max-height: 105px;
	position: sticky;
	top: 0;
	z-index: 100;
}

header h1 {
	padding: 20px 30px;
	/*border: solid white 2px;*/
	display: inline-block;
}

.drop_nav_bg {
	background: purple;
}

.main_nav_large {
	/*border:  solid blue 2px;*/
	/*padding-top: 20px;*/
}

.header_menu_hidden {
	display: none;
	text-align: center;
}

.main_nav_large ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.main_nav_large li {
	display: inline-block;
	/*border: solid yellow 1px;*/
	font-family: 'Roboto Condensed', sans-serif;
}

.main_nav_large li a {
	color: white;
  	position: relative;
  	/*display: block;*/
  	transition: 0.5s;
  	padding:  15px 5px;
  	margin: 0 15px;
}

.main_nav_large li a::after {
  	position: absolute;
  	content: "";
 	width: 100%;
  	height: 3px;
  	top: 100%;
  	left: 0;
  	background: white;
  	transition: transform 0.5s;
  	transform: scaleX(0);
  	transform-origin: left;
}

.main_nav_large li a:hover {
  	/*color: #95a5a6;*/
}

.main_nav_large li a:hover::after {
  	transform: scaleX(1);
  	transform-origin: left;
}

.header_btn_container {
	display: none;
}


@media screen and (min-width: 900px) {
	header {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
	}

	.header_btn_container {
		text-align: right;
		padding-right: 40px;
	}

	.header_btn_container .btn {
		background: transparent;
	}

	.header_btn_container .btn:hover {
		color: var(--main_color);
		background: white;
	}

	.header_menu_hidden, .header_btn_container {
		display: inline-block;
	}

}

.main_nav {
	background: var(--menu_bg_color);
	text-align: right;
	padding: 10px 0;
	margin:  -35px 30px 0;
	position: relative;
	bottom: -20px;
	display: none;
}

.main_nav button {
	background: black;
	color:  #fff;
	padding:  6px 25px;
	text-transform: uppercase;
	margin-right: 10px;
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	border:  none;
}

.main_nav ul {
	list-style: none;
	color: white;
	font-size: .85rem;
	margin-right: 10px;
	display: none;
}

.main_nav li {
	margin: 2px 0;
	/*border-radius: 7px;*/
	background: linear-gradient(var(--light_gray) 0 0) right ;
	background-size: 0 100%;
	background-repeat: no-repeat;
  	transition: .3s;
}

.main_nav li a {
	display: block;
/*	border: solid red 1px;*/
	padding: 10px 10px;
}

.main_nav li:hover {
	/*background: var(--light_gray);*/
	background-size: 60% 100%;
}


@media screen and (max-width: 899px) {
	.main_nav {
		display: block;
	}
}



/*********************************
  Banner
*********************************/

.banner {
	/*background: var(--secondary_main_color);*/
	background: url(../img/orange.png) center;
	margin-top: -30px;
	padding: 80px 20px 40px;
}

.secondary_banner {
	background: url(../img/hero2.png) center;
}

.profile_img {
	max-width: 150px;
	position: relative;
	/*-webkit-box-reflect: left -20px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));*/
}

.profile_img img {
	max-width: 100%;
	border: solid 2px #fff;
	border-radius: 50%;
	padding: 6px;
}

.profile_img span, .img_bubble {
	color: white;
	position: absolute;
	top: 0;
	right: 0;
}

.img_bubble {
	border: solid black 2px;
	padding: 8px 30px;
	background: white;
	color: black;
	margin: 10px 0;
	right:  -112px;
	border-radius: 20px;
	font-size: .7em;
	opacity: .23;
}

.banner h2	{
	color: #fff;
}

.banner p {
	font-weight: 700;
}

.banner_bottom_bar {
	/*background: var(--main_color);*/
	margin-top: 60px;
	padding: 30px 0 30px 0px;
	color: white;
	font-size:  .9em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 700px;
}

.banner_bottom_bar div {
	/*border: solid white 2px;*/
	position: relative;
}

.banner_bottom_bar span {
	/*border:  solid blue 2px;*/
	display: block;
	/*padding-right: 10px;*/
}

.banner_bottom_bar img {
	max-width: 50px;
	/*border:  solid black 2px;*/
	-webkit-box-reflect: below 2px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
}

@media screen and (min-width: 500px) {
	.banner_bottom_bar span {
		display: inline-block;
		position: absolute;
		top: 25%;
		left: 60px;
	}
}

@media screen and (min-width: 900px) {
	.banner {
		padding: 130px 100px 40px;
		/*border: solid black 6px;*/
		display: grid;
		grid-template-columns: 325px 1fr;
  		grid-template-rows: auto;
	}

	.banner > * {
		/*border: solid blue 3px;*/
	}

	.profile_img {
		max-width: 225px;
	}

	.profile_img img {
		max-width: 100%;
		border: solid 3px #fff;
		border-radius: 50%;
		padding: 12px;	
	}

	.banner_bottom_bar {
		margin-top: 10px;
		grid-column: 2;
	}

	.secondary_banner {
		font-size: 1.5rem;
		display: grid;
		grid-template-columns: 1fr;
  		grid-template-rows: auto;
  		padding: 75px 100px;
	}

}



	



/**************************************************************************/
/* Sections */
/**************************************************************************/

section:not(:first-child) {
	margin: 50px 0;
}


/*****************************************************/
/* About Me */
/*****************************************************/

.about_area {
	position: relative;
	background: white;
	z-index: 1;
	padding-right: 40px;
	padding-bottom: 40px;
	max-width: 1050px;
}

.about_area::before {
	position: absolute;
	content: "";
	width: 74%;
	height: 100%;
	background: #f8f8f8;
	border-radius: 0 90px 90px 0;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.about_area p {
	line-height: 1.5;
}

.about_area .highlight {
	color: var(--main_color);
	font-size: 1.4em;
	margin: 40px 0;
/*	display: none;*/
}

.skills_chart .footnote {
	font-size: .8rem;
	padding-top: 10px;
	display: none;
}

.techdegree_link {
	color: green;
}

/* Tool Icons Bar */

.tool_icons {
	display: none;
	margin: 20px auto;
	border: solid red 2px;
	justify-content: space-around;
}

.single_icon {
	border: solid blue 2px;
	flex-grow: 1;
	margin: 20px 10px;
}

.single_icon img {
	border: solid black 2px;
	max-width: 75px;

}


@media screen and (min-width: 900px) {
	.about_columns {
		display: flex;
		column-gap: 50px;
	}

	.about_column1, .about_column2 {
		/*border: solid blue 2px;*/
		flex: 1;
	}

	.about_column2 {
		margin-top: -35px;
		margin-left: 30px;
	}

	.about_area .highlight {
		margin: -7px 0 0 0;
/*		display: none;*/
	}
}



/* Skills Chart */

.single_skill {
	/*border: solid blue 1px;*/
	margin: 25px 0;
}

.skill_title {
	/*font-family: "DM Sans";*/
	font-weight: normal;
}

.chart_bar {
	height: 5px;
	background: var(--opacity_main_color);
	border-radius: 10px;
	width: 100%;
	margin-top: 10px;
}

.chart_progress {
	height: 5px;
	background: var(--main_color);
	border-radius: 10px;
}

.skill_level1 {
	width: 95%;
}

.skill_level2 {
	width: 90%;
}

.skill_level3 {
	width: 30%;
}

.skill_level4 {
	width: 60%;
}

.skill_level5 {
	width: 0%;
}


@media screen and (min-width: 900px) {
	.about_area {
		padding-right: 100px;
	}
	.about_area p:first-of-type { 

	}
}



/*****************************************************/
/* Experience */
/*****************************************************/

.experiences_grid {
	display: grid;
	/*2grid-template-columns: 1fr 1fr;*/
	grid-template-columns: 1fr;
}

.experience .entry {
	border: solid #1111 1px;
	padding: 20px;
	margin-bottom: 40px;
	max-width: 500px;
}

.experience .entry:last-child {
	margin-bottom: 0px;
	/*border-bottom: 20px solid blue;*/
}

.experience h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.35em;
	font-weight: 700;
	/*letter-spacing: .035em;*/
}

.experience .entry_link {
	display: inline-block;
	color: var(--main_color);
	font-weight: 700;
	padding: 15px 0 15px;
	border-bottom: solid 2px var(--main_color);

}


@media screen and (min-width: 900px) {
	.experiences_grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

	.experience .entry {
		margin-bottom: 0px;
	}
}


/*****************************************************/
/* Works */
/*****************************************************/

.works_grid {
/*	border: solid blue 2px;*/
	display: grid;
	grid-template-columns: 1fr;
	justify-items: left;
	grid-gap: 40px;

}

.single_work {
/*	border: solid gray 2px;*/
	border-radius: 5px;
/*	height: 275px;*/
	max-width: 500px;
	background: #f1f1f1;
	position: relative;
	padding: 30px 20px;
	pointer-events: none;
}

.single_work a {
	pointer-events: auto;
	width: 100%;
}

.single_work a:hover {
	cursor: pointer;
	opacity: .7;
}

.single_work:last-child {
	margin-bottom: 0;
}

.work_ss {
	padding-top: 30px;
/*	border-bottom: solid gray 20px;*/
/*	width: 80%;*/
}

.work_ss img {
	width: 80%;
	/*border-top: solid black 16px;
	border-right: solid black 10px;
	border-bottom: solid black 16px;
	border-left: solid black 10px;
	border-radius: 15px 15px;*/
	box-shadow: 5px 5px 10px 2px gray;
}

.work_title {
	background-image: linear-gradient(to right, var(--main_color) 0%, transparent 8%);
	padding: 12px 0px 12px 21px;
	border-radius: 25px;
/*	color: white;*/

}



@media screen and (min-width: 900px) {
	.works_grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}

	.single_work {
		
	}
}







/*****************************************************/
/* Contact Me */
/*****************************************************/

.contact {
	position: relative;
}

.contact_grid form {
	/*border: solid blue 2px;*/
	display: grid;
	grid-template-columns: 1fr;
	width: 80%;
	/*max-width: 750px;*/
}

.contact_grid form > * {
	margin: 12px 0;
}

.contact_grid input:first-child {
	margin-top: 0;
}

.contact_grid input, .contact_grid textarea {
	padding: 15px 10px;
	font-size: .9em;
	border: solid 1px lightgray;
}

.contact_grid textarea {
	min-height: 100px;
}

input.contact_submit {
	border: solid var(--main_color) 1px;
	padding: 20px 25px;
	margin-top: 20px;
	background: white;
	color: var(--main_color);
	text-transform: uppercase;
	width: 40%;
	max-width: 200px;
	transition: .4s;
}

input.contact_submit:hover {
	color: white;
	background: var(--main_color);
	/*border: solid var(--main_color) 2px;*/
	cursor: pointer;
}

.contact_info {
	/*border: solid red 1px;*/
	margin-top: 50px;
}

.contact_info div {
	position: relative;
	margin: 10px 0;
	color: gray;
}

.contact_info img {
	max-width: 50px;
}

.contact_info span {
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 60px;
}

.contact::before {
	position: absolute;
	content: "";
	width: 90%;
	height: 100%;
	background: #f8f8f8;
	border-radius: 0 90px 90px 0;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}


@media screen and (min-width: 900px) {
	.contact_grid form {
		/*border: solid blue 2px;*/
		display: grid;
		grid-template-columns: .75fr;
	}

	.contact::before {
		width: 70%;
	}
}




/*****************************************************/
/* Footer */
/*****************************************************/


footer {
	background: #000;
	padding: 20px 20px 75px;
}

.footer_head {
	color: var(--main_color);
	font-size: 1.95em;
	margin: 55px 0 25px;
}

footer p {
}

.footer_social {
	margin: 25px 0 70px 0;
	/*height: 50px;*/
}

.footer_social .icon_box {
	/*border: solid pink 2px;*/
	background: var(--opacity_main_color);
	border-radius: 10px;
	margin: 0 3px;
	width: 27px;
	height: 27px;
	display: inline-block;
	padding: 6px;
	position: relative;
	transition: .4s;
}

.footer_social .icon_box:hover {
	cursor: pointer;
	background: var(--main_color);
	transition: .4s;
}

.footer_social img {
	width: 100%;
	transition: 0.4s;
	/*border:  solid white 1px;*/
}

.footer_social a:hover img {
	transition: 0.4s;
    /*transform: rotateY(180deg);*/
    transform-style: preserve-3d;
    transform: scale3d(.8, .8, .25);
}



.footer_buttons {
	margin-bottom: 55px;
}

.footer_buttons button {
	margin-right: 25px;
	margin-bottom: 25px;
}

.footer_buttons button.contact {
	border: none;
	background: var(--main_color);
}

.footer_buttons button.contact:hover {
	border: var(--main_color);
	background: white;
	color: var(--main_color);
}



.footer_menu {
	margin-top: 25px;
}

.footer_menu ul {
	display: flex;
	padding-left: 10px;
	max-width: 475px;
	
}

.footer_menu li {
	/*border: solid blue 2px;*/
	/*padding: 5px;*/
	flex-grow: 1;
}

.footer_menu li a {
	margin: 0;
	padding: 0px 0 15px 0;
	display: inline-block;

}

.footer_menu li a:first-child {
	padding-left: 0;
	/*margin-left: 0;*/
}

.footer_quotes {
	font-size: .85em;
	color: white;
	display: none;
}

.footer_quotes div {
	margin-top: 10px;
}

.quote1 {
	display: inline-block;
}



@media screen and (min-width: 900px) {
	footer {
		padding: 20px 100px 75px;
	}

	.footer_grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 55px;
	}

	.footer_buttons {
		margin: 105px 0 0 0;
	}

	.footer_buttons button {
		margin-right: 15px;
	}

	.footer_buttons .dwnld_resume {
		margin-right: 0px;
	}

}












